<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @train.number %>
</p>
<p>
	<strong>Текущая станция:</strong>
	<% if @train.current_station.present? %>
		<%= @train.current_station.title %>
	<% else %>
		Станция не указана.
	<% end %>
</p>

<p>
	<strong>Текущий маршрут:</strong>
	<% if @train.route.present? %>
		<%= @train.route.title %>
	<% else %>
		Маршрут не назначен.
	<% end %>
</p>

<% if @train.wagons.empty? %>
  <p>
  В составе поезда нет вагонов.
  </p>
<% else %>
  
  <p>
  <strong>В составе поезда: </strong>
  купейных вагонов: <%= @train.wagon_count("Купейный") %>, 
  плацкартных вагонов: <%= @train.wagon_count("Плацкартный") %>.
  </p>

  <p>
  <strong>Мест: </strong>
  плацкартных верхних/нижних: <%= @train.seat_count("Плацкартный", "верхние") %>/<%= @train.seat_count("Плацкартный", "нижние") %>, 
  купейных верхних/нижних: <%= @train.seat_count("Купейный", "верхние") %>/<%= @train.seat_count("Купейный", "нижние") %>.
  </p>
<% end %>


<%= link_to 'Редактировать', edit_train_path(@train) %> |
<%= link_to 'Назад к списку поездов', trains_path %>
