<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('.route_title') %></strong>
  <%= @route.title %>
</p>

<% if @route.trains.empty? %>
  <p>Поездов на маршруте нет.</p>
<% else %>
  <p>
  	<strong><%= t('.route_trains') %></strong>
  </p>
  <ul>
    <% @route.trains.each do |train| %>
      <li><%= train.number %></li>
    <% end %>
  </ul>
<% end %>

<p>
  <strong><%= t('.route_stations') %></strong>
</p>

<p>
  <% if @route.railway_stations.empty? %>
    <%= t('.route_no_stations') %>
  <% else %>
  <table>
    <thead>
      <tr>
      <td width="100px"><%= t('.station_title') %></td>
      <td><%= t('.number') %></td>
      <td><%= t('.arr_time') %></td>
      <td><%= t('.dep_time') %></td>
      </tr>  
    </thead>
    <tbody>      
      <% @route.railway_stations.ordered.each do |station| %>  <!-- RailwayStation.ordered(@route).each -->    
        <tr>
          <td><%= station.title %></td>
          <td>
            <%= form_tag update_number_admin_railway_station_path(station), method: :patch do %>
              <%= number_field_tag :number, station.number_in(@route) %>
              <%= hidden_field_tag :route_id, @route.id %>
              <%= submit_tag t('common.change') %>
            <% end %>
          </td>
        
            <%= form_tag update_time_admin_railway_station_path(station), method: :patch do %>
              <td><%= time_field_tag :arrival_time, station.time_in(@route, :arrival_time) %></td>
              <td><%= time_field_tag :departure_time, station.time_in(@route, :departure_time) %>
              <%= hidden_field_tag :route_id, @route.id %>
              <%= submit_tag t('common.change') %></td>
            <% end %>
         
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
</p>

<%= link_to t('common.edit'), edit_admin_route_path(@route) %> |
<%= link_to t('common.back'), admin_routes_path %>
