<p id="notice"><%= notice %></p>

<p>
  <strong>Поезд № </strong>
  <%= @wagon.train.present? ? @wagon.train.number : 'Поезд не указан.' %>
</p>

<p>
  <strong>Номер вагона: </strong>
  <%= @wagon.number %>
</p>

<p>
  <strong>Тип вагона: </strong>
  <%= @wagon.type %>
</p>

<p>
  <strong>Количество мест:</strong><br>
  Нижних: <%= @wagon.bottom_seats %><br>
  Верхних: <%=@wagon.top_seats %><br>
  Нижних боковых: <%= @wagon.side_bottom_seats %><br>
  Верхних боковых: <%=@wagon.side_top_seats %><br>
  Сидячих: <%= @wagon.sitting_seats %><br>
</p>

<%= link_to 'Редактировать', edit_admin_wagon_path(@wagon) %></br>
<%= link_to 'К списку всех вагонов', admin_train_wagons_path(@wagon.train) %></br>
<%= link_to 'К списку поездов', admin_trains_path %>
