<h1>Поиск билета</h1>

<div class="row">
<%= form_for @search, method: :post, url: search_path do |f| %>

  <div class="col-md-4">
  <%= f.label :departure_station_id, "Станция отправления" %>
  <%= f.collection_select :departure_station_id, RailwayStation.all, :id, :title, {}, class: 'form-control' %>
  </div>

  <div class="col-md-4">
    <%= f.label :arrival_station_id, "Станция прибытия" %>
    <%= f.collection_select :arrival_station_id, RailwayStation.all, :id, :title, {}, class: 'form-control' %>
  </div>

  <div class="col-md-4">
    <%= f.submit "Найти", class: 'btn btn-primary btn-lg' %>
  </div>
</div>
 

  <% if @search.result %>
  <% unless @search.result.empty? %>
    <h2>Результаты поиска: </h2>
    <table class='table table-hover table-striped'>
      <thead>
        <tr>
          <td>Поезд № </td>
          <td width="100px">Маршрут</td>
          <td>Время отправления</td>
          <td>Время прибытия</td>
        </tr>  
      </thead>

      <tbody>
        <% @search.result.each do |train| %>
          <tr>
            <td><%= train.number %></td>
            <td><%= train.route.title %></td>
            <td><%= @search.departure_station.time_in(train.route, :departure_time) %></td>
            <td><%= @search.arrival_station.time_in(train.route, :arrival_time) %></td>
            <td>
              <%= form_tag new_ticket_path, method: :get do %>
              <%= link_to "Купить билет", new_ticket_path( train_id: train.id, departure_station_id: @search.departure_station_id, arrival_station_id: @search.arrival_station_id ), class: 'btn btn-info' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p><h3 class='text-danger'>Ничего не найдено.</h3></p>
  <% end %>
  <% end %>
<% end %>



<% if user_signed_in? %>
  <p><%= link_to 'Список купленных билетов', tickets_path, class: 'btn btn-default' %></p>
<% end %>