<h1>Список билетов</h1>

<table>
  <thead>
    <th>Номер поезда</th>
    <th>Станция отправления</th>
    <th>Станция прибытия</th>
    <th>ФИО</th>
    <th>Номер паспорта</th>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
      <td><%= ticket.train.number %></td>
      <td><%= ticket.departure_station.title %></td>
      <td><%= ticket.arrival_station.title %></td>
      <td><%= ticket.passenger_name %></td>
      <td><%= ticket.passport_number %></td>

      <td><%= link_to "Показать", ticket %></td>
      <td><%= link_to "Редактировать", edit_ticket_path(ticket) %></td>
      <td><%= link_to "Удалить", ticket, method: :delete, data: { confirm: 'Вы уверены?' }%></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Купить билет', search_path %>
