<h1>Список билетов</h1>

<table class='table table-bordered table-striped'>
  <thead>
    <th><%= t('common.train_number') %></th>
    <th><%= t('common.dep_st') %></th>
    <th><%= t('common.arr_st') %></th>
    <th><%= t('common.pass_name') %></th>
    <th><%= t('common.pass_number') %></th>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
      <td><%= ticket.train.number %></td>
      <td><%= ticket.departure_station.title %></td>
      <td><%= ticket.arrival_station.title %></td>
      <td><%= ticket.passenger_name %></td>
      <td><%= ticket.passport_number %></td>

      <td><%= link_to t('common.show'), ticket, class: 'btn btn-default' %></td>
      <td><%= link_to "Сдать билет", ticket, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Купить билет', search_path, class: 'btn btn-default' %>
