<p><strong>Билет</strong></p>

<p>Билет купил: <%= @ticket.user.email %></p>

<p>
  <strong><%= t('common.train_number') %></strong>
  <%= @ticket.train.number %>
</p>

<p>
  <strong><%= t('common.dep_st') %></strong>
  <%= @ticket.departure_station.title %>
</p>

<p>
  <strong><%= t('common.arr_st') %></strong>
  <%= @ticket.arrival_station.title %>
</p>

<p>
  <strong><%= t('common.pass_name') %></strong>
  <%= @ticket.passenger_name %>
</p>

<p>
  <strong><%= t('common.pass_number') %></strong>
  <%= @ticket.passport_number %>
</p>

<%= link_to 'Список купленных билетов', tickets_path, class: 'btn btn-default' %>
<%= link_to 'Купить билет', search_path, class: 'btn btn-default' %>
